<section class="flex flex-col justify-center items-center h-dvh m-auto p-12 md:w-2/3 lg:w-1/2">
  <p-toast />

  <div class="flex flex-col items-center mb-8 text-center">
    <span class="inline-block mb-6"><img src="/icons/wallet.svg" alt="Wallet icon" class="w-12 h-12"></span>
    <h1 class="mb-4 font-bold text-3xl">Bienvenido de nuevo</h1>
    <p>Inicia sesión en tu cuenta para continuar.</p>
  </div>

  <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
    <div class="flex flex-col gap-1">
      <label for="username" class="text-sm font-medium text-zinc-700">Username</label>
      <input
        pInputText
        type="text"
        id="username"
        placeholder="Username"
        formControlName="username"
        [invalid]="isInvalid('username')"
      />
      <p-message severity="error" size="small" variant="simple">
        <span class="block h-6">
          @if (isInvalid('username')) {
            Username es requerido.
          }
        </span>
      </p-message>
    </div>

    <div class="flex flex-col gap-1">
      <label for="password" class="text-sm font-medium text-zinc-700">Contraseña</label>
      <p-password
        id="password"
        placeholder="Password"
        formControlName="password"
        [invalid]="isInvalid('password')"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="off"
        required
        fluid
      ></p-password>
      <p-message severity="error" size="small" variant="simple">
        <span class="block h-6">
          @if (isInvalid('password')) {
            @if (userLoginForm.get('password')?.errors?.['required']) {
              Contraseña requerida.
            }
            @if (userLoginForm.get('password')?.errors?.['minlength']) {
              Por favor, introduzca una contraseña válida.
            }
          }
        </span>
      </p-message>
    </div>

    <a routerLink="/forgot-password" class="text-sm text-blue-600 cursor-pointer decoration-wavy hover:underline self-end">
      <span>¿Olvidaste tu contraseña?</span>
    </a>
    <button pButton severity="primary" type="submit"><span pButtonLabel>Iniciar sesión</span></button>
  </form>

  <p class="m-4">No tienes una cuenta? <a routerLink="/signup" class="text-blue-600 cursor-pointer decoration-wavy hover:underline">Regístrate</a></p>
</section>
